/* Animasi dasar */
.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Warna untuk mode terang dan gelap */
body.light {
    background-color: #f0f4f8;
    color: #333;
}

body.dark {
    background-color: #1a202c;
    color: #fff;
}

.expired-label {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    border-bottom-left-radius: 8px;
}

.dark .expired-label {
    background-color: #ff6347; /* Lebih terang untuk mode gelap */
}

.mode-toggle {
    cursor: pointer;
}

.hidden {
    display: none;
}
